<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
  <% if @post.user_id == session[:user_id] %>
    <h5>我自己</h5>
  <% else%>
    <h6>作者<%= @post.user.userName%></h6>
  <% end%>

</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
